body {
    /* background-color: black;
    color: white; */
    
    .bottom-left {
        width: 28vw;
    }

    .bottom-right {
        width: 72vw;
    }
   
    min-height: 100vh;
    background-color: black;
}



