* {
  margin: 0px;
  padding: 0px;
}

.border {
  /* border: 2px solid red; */
  margin: 2px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.top {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px;
  height: auto;
}

.top .left {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.top .right {
  width: 60%;
}

.invert {
  filter: invert(1);
}

.download-icon {
  width: 22px;
  height: 22px;
  filter: invert(1);
}

.search {
  justify-content: flex-start;
  background-color: #1f1f1f;
  border-radius: 40px;
  padding: 12px 22px;
  width: 420px;
  max-width: 600px;
}

.inputarea {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0 10px;
}

.search-icon,
.library-icon {
  width: 24px;
  height: 24px;
}

.search-icon {
  width: 20px;
  height: 20px;
  display: flex;
  padding: 1px 3px 2px 0px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.home {
  width: 150px;
  height: 60px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.home-wrapper {
  background-color: #1f1f1f;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
}

.logo {
  margin-left: 25px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

.premium,
.support,
.download {
  background-color: transparent;
  border: none;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 0.6;
  font-size: 15px;
}

.signup,
.install {
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: none;
  color: white;
  opacity: 0.6;
  font-size: 15px;
  padding-right: 10px;
}

.download-icon {
  width: 15px;
  height: 15px;
  vertical-align: center;
  padding: 1px;
  opacity: 0.8;
}

.line {
  vertical-align: baseline;
  border-left: 1px solid #fff;
  height: 20px;
  margin-left: 8px;
  margin-right: 20px;
}

.login {
  background-color: #ffffff;
  filter: brightness(1);
  padding: 15px 25px;
  border-radius: 35px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.bottom-left,
.bottom-right {
  background-color: #121212;
  color: white;
  margin: 0px;
  padding: 0px;
}

.bottom-left-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

/* .bottom {
  background-color: #000000;
  min-height: 100vh;
} */

.bottom-left {
  border: 2px solid #151515;
  border-radius: 12px;
  margin: 3px;
}

.bottom-right {
  border: 2px solid #151515;
  border-radius: 12px;
  margin: 3px;
}

.bottom-left-center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1f1f1f;
  margin: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border-radius: 10px;
}

.bottom-left-center-wrapper-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.span-span {
  padding: 10px;
}

.span1 {
  margin: 7px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.span2 {
  margin: 7px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.span3 {
  margin: 12px 15px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 10px 18px;
  background-color: white;
  color: black;
  border-radius: 50px;
}

.bottom-left-center-sections {
  max-height: 330px;
  overflow-y: auto;
}

.bottom-left-center-bottom {
  display: flex;
  font-size: 11px;
  font-family: "Poppins", "Nunito", sans-serif;
  gap: 15px;
  flex-wrap: wrap;
  padding: 35px 26px;
}

.bottom-left-center-bottom a {
  color: grey;
  text-decoration: none;
}

.cookies {
  color: white;
  text-decoration: none;
}

.bottom-left-center-bottom > div:nth-last-child(2),
.bottom-left-center-bottom > div:last-child {
  flex-basis: 100%; /* forces them onto their own line */
}

.last {
  display: inline-flex;
  justify-content: center;
  gap: 6px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.last svg {
  fill: white; /* Make icon white */
  width: 16px; /* Control icon size */
  height: 16px;
}

.last:hover {
  border-color: white; /* White border on hover */
}

.english {
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.bottom-right-left a {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.bottom-right-left {
  margin: 25px 35px;
}

.bottom-right-right a {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 700;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  padding: 5px 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 12px;
}

.img {
  width: 172px;
  height: 172px;
}
.container {
  /* border: 3px solid red;  */
  background-color: #121212;
  padding: 10px;
  width: 175px;
}

.cards img {
  width: 100%;
  object-fit: contain;
}

.text h2 {
  line-height: 0.9;
}

.titlename, .subtitle {
  font-size: 16px;
  font-weight: 450;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.artists  a  {
  text-decoration: none;
  font-size: 14px;
  color: #b3b3b3;
}
